$primary: #007bff;
$textColor: rgba(255, 255, 255, 0.6);
a {
  text-decoration: none;
  color: unset;
}
.contentHead {
  span {
    color: $primary;
  }
  h2 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 0.4rem;
  }
}
